body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

nav {
    background: #6c2d82;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    min-height: 100vh;
}

.icon-large {
    width: 120px;
    opacity: 0.8;
}

.small-logo {
    width: 60px;
    margin-top: 30px;
}

/* ACHIEVEMENT */
.achievement-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.achievement-img {
    width: 220px;
    border-radius: 10px;
}

/* INFO SECTION */
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

.profile-img {
    width: 220px;
    border-radius: 50%;
}

/* CONTACT */
.contact-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-icon {
    width: 40px;
}

a {
    color: #9a68b8;
}
